[submodule "catkin_ws/src/xv_11_laser_driver"]
path = catkin_ws/src/xv_11_laser_driver
url = https://github.com/rohbotics/xv_11_laser_driver.git

[submodule "catkin_ws/src/robot_localization"]
path = catkin_ws/src/robot_localization
url = https://github.com/cra-ros-pkg/robot_localization.git

[submodule "catkin_ws/src/bosch_imu_driver"]
path = catkin_ws/src/bosch_imu_driver
url = https://github.com/Octanis1/bosch_imu_driver.git
