<launch>
  <group ns="stereo">
    <node name="left_cam" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="true">
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="pixel_format" value="mjpeg" />
      <param name="camera_name" value="left_cam" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="brightness" value="40" />
      <param name="contrast" value="50" />
      <param name="saturation" value="50" />
      <param name="io_method" value="mmap" />
      <param name="framerate" value="1" />
      <param name="camera_info_url" value="File:///home/rover/Octanis1-ROS/catkin_ws_mission/src/usb_cam-develop/launch/calibration/left_cam.yaml" />
    </node>

    <node name="right_cam" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="true">
      <param name="video_device" value="/dev/video1" />
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="pixel_format" value="mjpeg" />
      <param name="camera_name" value="right_cam" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="brightness" value="40" />
      <param name="contrast" value="50" />
      <param name="saturation" value="50" />
      <param name="io_method" value="mmap" />
      <param name="framerate" value="1" />
      <param name="camera_info_url" value="File:///home/rover/Octanis1-ROS/catkin_ws_mission/src/usb_cam-develop/launch/calibration/right_cam.yaml" />
    </node>
  </group>
<!--  <node name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="true" /> -->
</launch>

