<launch>
  <!-- Run EKF state estimation for "base_link -> odom" transforms -->
  <include file="$(find octanis1_description)/launch/ekf_state.launch"/>
   
  <!-- Run tf publishing of robot-attached frames -->
  <include file="$(find octanis1_description)/launch/description.launch"/>

  <!-- Run mavlink connection to mainboard -->
  <include file="$(find octanis1_description)/launch/mavlink.launch"/>

  <!-- Run Bosch BNO055 IMU Driver -->
  <include file="$(find octanis1_description)/launch/bosch_imu_driver.launch"/>

  <!-- Run XV11 LIDAR Driver -->
  <include file="$(find octanis1_description)/launch/xv11_lidar_driver.launch"/>

  <!-- Run PI Lidar controller -->
  <include file="$(find octanis1_description)/launch/lidar_control.launch"/>


  <!-- Run camera launch file to launch the camera -->
<!--  <include file="$(find octanis1_description)/launch/camera.launch"/> -->

</launch>
