<launch>

    <rosparam command="load" file="$(find octanis1_description)/params/robot_localization.yaml" />

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true" />


    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
      <remap from="odometry/filtered" to="odometry/filtered/global"/>
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
      <remap from="odometry/filtered" to="odometry/filtered/global"/>
      <remap from="gps/fix" to="mavros/global_position/raw/fix" />
      <remap from="imu/data" to="imu2/data" />
    </node>

<!--
    <node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node" clear_params="true">
      <remap from="fix" to="mavros/global_position/raw/fix"/>
      <remap from="odom" to="odometry/gps"/>
      <param name="frame_id" value="odom" />
      <param name="child_frame_id" value="" />

    </node>
-->

</launch>
