<launch>
   <!-- Run EKF state estimation for "base_link -> odom" transforms -->
   <include file="$(find octanis1_description)/launch/ekf_state.launch"/>
   
   <!-- Run tf publishing of robot-attached frames -->
   <include file="$(find octanis1_description)/launch/description.launch"/>

  <!-- Run mavlink connection to mainboard -->
  <include file="$(find octanis1_description)/launch/mavlink.launch"/>


  <!-- Run Bosch BNO055 IMU Driver -->
  <arg name="bosch_config_file" default="$(find octanis1_description)/params/imu_bosch.yaml"/> 
  <node pkg="bosch_imu_driver" type="bosch_imu_node.py" name="bosch_imu_node" output="screen">
    <rosparam file="$(arg bosch_config_file)" command="load"/>
  </node>

  <!-- Run XV11 LIDAR Driver -->
  <arg name="xv_11_laser_driver_config" default="$(find octanis1_description)/params/xv11_lidar.yaml"/> 
  <node pkg="xv_11_laser_driver" type="neato_laser_publisher" name="neato_laser_publisher" output="screen">
    <rosparam file="$(arg xv_11_laser_driver_config)" command="load"/>
  </node>
</launch>
